header, nav{
    margin-left: 30px;
}

.conteudo{
    margin-left: 50px;
}

a[title]{
    color: green;
}

a[href = "./index.html"]{
    color: yellowgreen;
}

.imagens :hover{
    color: grey;
}

.conteudo::first-line{
    color: #2A538A;
}

header :first-child{
    color: #306CAE;
}

.conteudo > p{
    color: red;
}

.textoSobre p{
    color: maroon;
}

img + p{
    color: pink;
}

h1 ~ h2{
    color: #a48bdb;
}